* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

nav {
  height: 4em;
  background-color: rgb(59, 56, 56);
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Special Elite', ;
    margin: 18px; 
  }
  a:hover {
    color: rgb(218, 114, 17);
  }
}

section {
  height: 100vh;
  // margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section:after {
  content: "";
  display: block;
}

h1 {
  margin: 20px 80px 20px;
  font-family: 'Special Elite', ;
  font-size: 35px;
}

h2 {
  margin: 20px;
  font-family: 'Special Elite', ;
  font-size: 28px;
}

p {
  font-family: 'Nanum Gothic', ;
  font-size: 16px;
}

.marker {
  height: 40px;
  width: 40px;
}

// ! HOME PAGE
.home {
  // display: flex;
  background-image: url("https://wallpapercave.com/wp/wp2036897.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // justify-content: center;
  // background-size: cover;
}

// ! CLUB INDEX PAGE

.index {
  display: flex;
}

// ! CLUB SHOW PAGE
.club-show {
  display: flex;
}

.club-info {
  // border: 1px solid black;
  width: 50%;
  margin: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  align-self: center;
  p {
    margin: 10px;
    font-size: 18px;
  }
}

.current-book {
  // border: 1px solid black;
  width: 50%;
  margin: 40px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.current-book-pic {
  height: 330px;
  width: 220px;
  text-align: center;
  box-shadow: 15px 15px 5px grey;
}

.prev-book {
  width: 80%;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
}

.prev-book-pic {
  height: 220px;
  width: 150px;
  margin: 40px;
  box-shadow: 15px 15px 5px grey;
}

// ! BOOK SHOW PAGE

.bookshow {
  display: flex;
}

.book {
  // border: 1px solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookshow-img {
  width: 300px;
  height: 450px;
  margin-bottom: 20px;
  box-shadow: 15px 15px 5px grey;
}

.comments {
  // border: 1px solid black;
  margin: 50px;
  width: 550px;
  padding: 30px;
  p {
    padding: 30px;
  }
}

.comment-del {
  display: flex;
  justify-content: space-between
}

// ! MEMBER INDEX
.member-index {
  display: flex;
  justify-content: space-evenly;
}

.member-card {
  border: 1px solid rgb(197, 190, 190);
  margin: 30px;
  width:190px;
  box-shadow: 15px 15px 5px grey;
  p {
    background-color: rgb(218, 114, 17);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1em;
  }
}

.member-pic {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: 20px;
}

.fake-member-card {
  border: 1px solid rgb(197, 190, 190);
  margin: 30px;
  width:190px;
  p {
    background-color: rgb(218, 114, 17);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1em;
  }
}

.fake-member-pic {
  height: 150px;
  width: 150px;
  margin: 20px;
}

// ! LOGIN & REGISTER
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;

}

// form {
//   border: 1px solid black;
// }

.button-div {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
}

button {
  // border: 2px solid black;
  background-color: white;
  border-color: rgb(185, 132, 63);
  color: rgb(218, 114, 17);
  color: black;
  margin: 20px;
  padding: 14px 28px;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: rgb(218, 114, 17);
  color: white;
}

footer, section:after {
  // position: absolute;
  background-color: rgb(59, 56, 56);
  // bottom: 0;
  // width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex: 1;
  p {
    color: white;
    font-size: 20px;
    font-family: 'Sue Ellen Francisco', sans-serif;
  }   
}

// ! App.css in source:
// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// ! index.css in src:
// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }